.in-touch__wrapper {
    margin-top: 50px;
}
.in-touch__contents-wrapper{
    display: flex;
    justify-content: space-between;
}
.in-touch__title {
    font-size: 40px;
    margin: 0;
    margin-top: 30px;
}
.in-touch__text {
    width: 635px;
    font-size: 16px;
    line-height: 30px;
}