// .site-header__nav-toggler {
// }
.nav-toggler {
    display: none;
    width: 16px;
    height: 18px;
    flex-shrink: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover .nav-toggler__line--up {
        transform: rotate(45deg) translate(2px, 2px) ; 
    }
    &:hover .nav-toggler--center{
        display: none;
    }
    &:hover .nav-toggler__line--down{
        transform: rotate(-45deg);
    }
}
.nav-toggler__line {
    width: 16px;
    height: 3px;
    display: block;
    background-color: $color-grayish;
    border-radius: 1.5px;
  
}
@include breakpoint-down(460px){
    .nav-toggler{
        display: block;
    }
}